/**:
  ros__parameters:
    force_x_scale: 52.0 # Calculated based on total thrust of all thrusters. 80 [N]
    force_y_scale: 30.0 # Allocated 75% horizontally and 25% vertically.
    force_z_scale: 17.0 # x: 60 * cos(30), y: 60 * sin(30), z: 20 * cos(30). 30 is Mounting angle.
    torque_x_scale: 3.0
    torque_z_scale: 10.0
