name: kyubic-ros

services:
  kyubic-ros:
    build:
      context: .
      network: host
      args:
        ubuntu_ver: "24.04"
        ros2_ver: "jazzy"
    image: kyubic/ros:jazzy
    # container_name: kyubic-ros-jazzy  # If not explicitly specified, {project name}-{service name}-{index}
    hostname: kyubic
    working_dir: /home/ros/kyubic_ros/kyubic_ws
    tty: true
    privileged: true
    network_mode: "host"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../:/home/ros/kyubic_ros
      - /dev:/dev
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - TERM=xterm-256color
      - USER_ID=$USER_ID
      - GROUP_ID=$GROUP_ID
