name: Build and Upload Release Asset

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Archive release
        run: |
          zip -r project-with-submodules.zip . -x "*.git*"

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: project-with-submodules.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
